/* CSS for the close button */
.btn-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;  
    font-size: 1rem;
    color: #6c757d;  
  }
  
  .btn-close:hover {
    color: #212529;  
  }
  
   .pt-0 span:hover {
    background-color: #f8f9fa;  
  }
  