<div class="container mt-3">
    <h2>update New Actuality</h2>
    <form [formGroup]="actualityForm" (ngSubmit)="onSubmit()">
      <div class="form-group mt-3">
        <label>Title:</label>
        <input type="text" class="form-control" formControlName="title" [placeholder]="prevActuality?.title">
        <div *ngIf="actualityForm.get('title')?.invalid && (actualityForm.get('title')?.dirty || actualityForm.get('title')?.touched)" class="text-danger">
          <div *ngIf="actualityForm.get('title')?.errors?.['required']">Title is required.</div>
        </div>
      </div>
      <div class="form-group mt-3">
        <label>Subtitle:</label>
        <input type="text" class="form-control" formControlName="subtitle" [placeholder]="prevActuality?.subtitle">
        <div *ngIf="actualityForm.get('subtitle')?.invalid && (actualityForm.get('subtitle')?.dirty || actualityForm.get('subtitle')?.touched)" class="text-danger">
          <div *ngIf="actualityForm.get('subtitle')?.errors?.['required']">Subtitle is required.</div>
        </div>
      </div>
      <div class="form-group mt-3">
        <label>Description:</label>
        <textarea class="form-control" formControlName="description" [placeholder]="prevActuality?.description"></textarea>
        <div *ngIf="actualityForm.get('description')?.invalid && (actualityForm.get('description')?.dirty || actualityForm.get('description')?.touched)" class="text-danger">
          <div *ngIf="actualityForm.get('description')?.errors?.['required']">Description is required.</div>
        </div>
      </div>
      <div class="form-group mt-3">
        <label>Category:</label>
        <select class="form-control" formControlName="category" style="color: #2d9ca0;">
          <option value="">Select a category</option>
          <option *ngFor="let category of categories" [value]="category._id">{{ category.title }}</option>
        </select>
        <div *ngIf="actualityForm.get('category')?.invalid && (actualityForm.get('category')?.dirty || actualityForm.get('category')?.touched)" class="text-danger">
          <div *ngIf="actualityForm.get('category')?.errors?.['required']">Category is required.</div>
        </div>
      </div>
      <div class="form-group mt-5 mb-5">
        <label>File:</label>
        <input type="file" class="form-control-file" (change)="onFileSelected($event)">
        <div *ngIf="actualityForm.get('file')?.invalid && (actualityForm.get('file')?.dirty || actualityForm.get('file')?.touched)" class="text-danger">
          <div *ngIf="actualityForm.get('file')?.errors?.['required']">File is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary"  style="background-color: #2d9ca0; border-color: #2d9ca0;">Submit</button>
    </form>
  </div>